:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --tran: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
}

.container {
  width: 100%;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}
.logo:hover {
  color: var(--accent-color);
}

.logo--blue {
  color: var(--accent-color);
}
.logo--blue:hover {
  color: #000000;
}

.header {
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .navigation__list {
    display: none;
  }
  .navigation__contacts {
    display: none;
  }
  .mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }
}
.page-header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .mobile-menu-open {
    display: none;
  }
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin-left: 88px;
  }
  .navigation__list .navigation__item + .navigation__item {
    margin-left: 50px;
  }
  .navigation__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 90px;
  }
  .navigation__link,
.navigation__contact {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    -webkit-transition: color var(--tran);
    transition: color var(--tran);
  }
  .navigation__contact {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .navigation__link:hover,
.navigation__link:focus,
.navigation__contact:hover,
.navigation__contact:focus {
    color: var(--accent-color);
  }
  .navigation__link {
    color: var(--primary-text-color);
  }
  .navigation__link--current {
    color: var(--accent-color);
  }
  .navigation__link--current::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    left: 0;
    bottom: 0;
  }
  .navigation__contact {
    color: var(--title-text-color);
  }
  .navigation__icon {
    margin-right: 10px;
    fill: currentColor;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__list {
    margin-left: 93px;
  }
  .navigation__list.navigation__item + .navigation__item {
    margin-left: 50px;
  }
  .navigation__contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 290px;
  }
  .navigation__contacts .navigation__item + .navigation__item {
    margin-left: 50px;
  }
  .navigation__link,
.navigation__contact {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    max-height: 796px;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: var(--primary-white-color);
    -webkit-box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: opacity var(--tran), visibility var(--tran);
    transition: opacity var(--tran), visibility var(--tran);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile .mobile-menu__container {
    position: relative;
    padding-left: 25px;
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
@media screen and (min-width: 480px) {
  .button__primary {
    color: #ffffff;
    background-color: var(--accent-color);
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    padding: 10px 24px;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: var(--accent-color);
  }
}
@media screen and (min-width: 1200px) {
  .button__primary {
    padding: 10px 32px;
  }
}
.btn-modal-send {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 10px 52px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #fff;
  background: var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
  border-color: transparent;
}

@media screen and (min-width: 100px) {
  .hero {
    text-align: center;
  }
  .container-hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 118px;
    padding-bottom: 118px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #2f303a;
  }
  .hero__title {
    color: #ffffff;
    font-size: 26px;
    font-weight: 900;
    line-height: 1.62;
    letter-spacing: 0.06em;
    font-family: inherit;
    text-transform: uppercase;
    text-align: center;
    width: 360px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .container-hero {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
    max-width: 1600px;
  }
  .hero__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    width: 696px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 480px) {
  .feature {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .feature__list {
    list-style: none;
  }
  .feature__name .feature__thumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 450px;
    content: "";
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
  }
  .feature__title {
    color: var(--primary-text-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
    width: 270px;
  }
  .feature__text {
    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.71;
  }
}
@media screen and (min-width: 768px) {
  .feature__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .feature__title {
    text-align: left;
  }
  .feature__name .feature__thumb {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .feature {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .feature__name .feature__thumb {
    width: 354px;
  }
}
.feature__name:not(:last-child) {
  margin-right: 30px;
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}
.work {
  padding-bottom: 94px;
}

.work__title {
  color: var(--primary-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  padding-bottom: 50px;
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.work__list .work__item:not(:last-child) {
  margin-right: 30px;
}

.work__wrap {
  position: relative;
}

.work__overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-white-color);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  bottom: 0;
}

.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
@media screen and (min-width: 320px) {
  .team__title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.18;
  }
}
@media screen and (min-width: 480px) {
  .team__title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.18;
  }
}

.team__list {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 320px) {
  .team__list {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (min-width: 480px) {
  .team__list {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.person {
  width: 270px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: var(--primary-white-color);
}
@media screen and (min-width: 320px) {
  .person {
    width: 320px;
  }
}
@media screen and (min-width: 480px) {
  .person {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .person {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .person {
    width: 270px;
  }
}

.person__title {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
@media screen and (min-width: 320px) {
  .person__title {
    margin-top: 30px;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 480px) {
  .person__title {
    margin-top: 30px;
    margin-bottom: 10px;
  }
}

.person__profession {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}
@media screen and (min-width: 480px) {
  .person__profession {
    margin-bottom: 16px;
  }
}

.person__soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 16px 32px 30px 32px;
}
@media screen and (min-width: 480px) {
  .person__soc-list {
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 768px) {
  .person__soc-list {
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .person__soc-list {
    padding-bottom: 0;
  }
}

.person__soc-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-right: 10px;
  color: #afb1b8;
  -webkit-transition: background-color var(--tran), color var(--tran);
  transition: background-color var(--tran), color var(--tran);
}
.person__soc-link:hover, .person__soc-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.soc-icons {
  fill: currentColor;
}

.customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}
@media screen and (min-width: 320px) {
  .customers__title {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 480px) {
  .customers__title {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .customers__title {
    margin-bottom: 50px;
  }
}

.customers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 320px) {
  .customers__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
}
@media screen and (min-width: 480px) {
  .customers__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .customers__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.customers__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 92px;
  border: 1px solid currentColor;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition: color var(--tran);
  transition: color var(--tran);
}
.customers__wrap:hover, .customers__wrap:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 320px) {
  .customers__wrap {
    width: 140px;
  }
}
@media screen and (min-width: 480px) {
  .customers__wrap {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .customers__wrap {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .customers__wrap {
    width: 170px;
  }
}

.customers__icon {
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.container-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-logo {
  color: #ffffff;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  display: block;
  padding-bottom: 20px;
}

.footer-logo--blue {
  color: var(--accent-color);
}

.footer__address-list li:not(:last-child) {
  margin-bottom: 9px;
}

.footer__address-list {
  font-size: 14px;
  line-height: 1.71;
  list-style: none;
  font-style: normal;
}

.footer__address-link {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  -webkit-transition: color var(--tran);
  transition: color var(--tran);
}
.footer__address-link:hover, .footer__address-link:focus {
  color: var(--accent-color);
}

.footer__contact {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  -webkit-transition: color var(--tran);
  transition: color var(--tran);
}
.footer__contact:hover, .footer__contact:focus {
  color: var(--accent-color);
}

.join {
  margin-left: 70px;
}

.join__subtitle {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.join__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.join__button {
  padding: 0;
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color var(--tran);
  transition: background-color var(--tran);
}
.join__button:hover, .join__button:focus {
  background-color: var(--accent-color);
  /* fill: var(--primary-white-color); */
}

.join-link {
  background-position: center;
  fill: var(--primary-white-color);
  margin: 0;
  padding: 0;
}

.form-subscribe {
  padding-top: 72px;
  padding-left: 93px;
}

.form-subscribe__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.form-subscribe__email {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-white-color);
  background-color: transparent;
  padding-left: 16px;
}
.form-subscribe__email::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.form-subscribe__email::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.form-subscribe__email:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.form-subscribe__email::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.form-subscribe__email::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.btn-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  color: var(--primary-white-color);
  letter-spacing: 0.06em;
  cursor: pointer;
  padding-left: 28px;
  margin-left: 12px;
}

.btn-subscribe__icon {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity var(--tran), visibility var(--tran);
  transition: opacity var(--tran), visibility var(--tran);
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 528px;
  min-height: 581px;
  background-color: var(--primary-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform var(--tran);
  transition: -webkit-transform var(--tran);
  transition: transform var(--tran);
  transition: transform var(--tran), -webkit-transform var(--tran);
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--primary-white-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__close-button {
  fill: #000000;
  width: 11px;
  height: 11px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}

.modal__input-group {
  margin-bottom: 10px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: transparent;
  font-size: 12px;
  -webkit-transition: border-color var(--tran);
  transition: border-color var(--tran);
}
.modal-input::-webkit-input-placeholder {
  font-size: 12px;
}
.modal-input::-moz-placeholder {
  font-size: 12px;
}
.modal-input:-ms-input-placeholder {
  font-size: 12px;
}
.modal-input::-ms-input-placeholder {
  font-size: 12px;
}
.modal-input::placeholder {
  font-size: 12px;
}
.modal-input:focus {
  border-color: var(--accent-color);
}
.modal-input:focus + .modal__input-icon {
  fill: var(--accent-color);
}
.modal-input:not(:-moz-placeholder-shown):not(:focus):valid, .modal-input:not(:-moz-placeholder-shown):not(:focus):valid {
  background-color: rgba(49, 219, 49, 0.158);
}
.modal-input:not(:-ms-input-placeholder):not(:focus):valid, .modal-input:not(:-ms-input-placeholder):not(:focus):valid {
  background-color: rgba(49, 219, 49, 0.158);
}
.modal-input:not(:placeholder-shown):not(:focus):valid, .modal-input:not(:placeholder-shown):not(:focus):valid {
  background-color: rgba(49, 219, 49, 0.158);
}
.modal-input:not(:-moz-placeholder-shown):not(:focus):invalid {
  background-color: rgba(219, 58, 49, 0.158);
}
.modal-input:not(:-ms-input-placeholder):not(:focus):invalid {
  background-color: rgba(219, 58, 49, 0.158);
}
.modal-input:not(:placeholder-shown):not(:focus):invalid {
  background-color: rgba(219, 58, 49, 0.158);
}

.modal__input-text {
  display: inline-block;
  font-size: 12px;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.modal__input-wrapper {
  position: relative;
}

.modal__input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill var(--tran);
  transition: fill var(--tran);
}

.modal__label {
  display: block;
  margin-bottom: 20px;
}

.modal__comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  padding-left: 16px;
  padding-top: 12px;
  outline: transparent;
  -webkit-transition: border-color var(--tran);
  transition: border-color var(--tran);
  resize: none;
}
.modal__comment:focus {
  border-color: var(--accent-color);
}
.modal__comment::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__comment::-moz-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__comment::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__comment::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__politic-label {
  font-size: 14px;
  line-height: 1.71;
  color: var(--title-text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal__politic-label::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  margin-left: 12px;
  margin-right: 8px;
}

.modal__check-link {
  margin-left: 5px;
  color: var(--accent-color);
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.modal__politic-check:checked + label::before {
  border: none;
  background-image: url(../images/icon_check.svg);
  /* background-position: center;
  background-repeat: no-repeat;
  background-color: var(--accent-color); */
}

.portfolio {
  background-color: #ffffff;
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.card {
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.card:nth-child(3n) {
  margin-right: 0;
}
.card:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.card__link {
  display: block;
  -webkit-transition: -webkit-box-shadow var(--tran);
  transition: -webkit-box-shadow var(--tran);
  transition: box-shadow var(--tran);
  transition: box-shadow var(--tran), -webkit-box-shadow var(--tran);
}
.card__link:hover, .card__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card__link:hover .card__toptext, .card__link:focus .card__toptext {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.card__wrap {
  position: relative;
  overflow: hidden;
}

.card__toptext {
  position: absolute;
  top: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--tran);
  transition: -webkit-transform var(--tran);
  transition: transform var(--tran);
  transition: transform var(--tran), -webkit-transform var(--tran);
  overflow: auto;
}

.card__content {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.card__title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.card__text {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin-bottom: 50px;
}

.button-menu:not(:last-child) {
  margin-right: 8px;
}

.button-function {
  color: #212121;
  background-color: #f5f4fa;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 6px 25px;
  border-radius: 4px;
  border: none;
  -webkit-transition: color var(--tran), background-color var(--tran), -webkit-box-shadow var(--tran);
  transition: color var(--tran), background-color var(--tran), -webkit-box-shadow var(--tran);
  transition: color var(--tran), background-color var(--tran), box-shadow var(--tran);
  transition: color var(--tran), background-color var(--tran), box-shadow var(--tran), -webkit-box-shadow var(--tran);
}
.button-function:hover, .button-function:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}/*# sourceMappingURL=main.css.map */