.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__title {
  color: var(--primary-text-color);
  @include font(36px, 700, 1.17, null);
  text-align: center;

  margin-bottom: 50px;
}

.team__list {
  display: flex;
  list-style: none;
}

.person__title {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
}

.person__profession {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

.person {
  width: 270px;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.person + .person {
  margin-left: 30px;
}

.person__content {
  padding: 30px 0;
}

.person__soc-list {
  @include flex-align-justify;
}

.person__soc-item {
  width: 44px;
  height: 44px;
}

.person__soc-item:not(:last-child) {
  margin-right: 10px;
}

.person__soc-link {
  @include flex-align-justify;

  width: 100%;
  height: 100%;

  border-radius: 50%;
  color: #afb1b8;

  transition: background-color var(--tran), color var(--tran);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
  }
}

.soc-icons {
  fill: currentColor;
}
