.team {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  font-weight: 700;
  line-height: 1.17;
  text-align: center;

  @media screen and (min-width: 280px) {
    margin-bottom: 30px;
    font-size: 28px;
  }

  @media screen and (min-width: 480px) {
    margin-bottom: 30px;
    font-size: 28px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.team__list {
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 280px) {
    padding-left: 0;
    padding-right: 0;
  }

  @media screen and (min-width: 480px) {
    padding-left: 0;
    padding-right: 0;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.person {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  border-radius: 0px 0px 4px 4px;
  background: var(--primary-white-color);

  @media screen and (min-width: 100px) {
  }

  // margin-bottom: 30px;

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.person__content {
  padding: 30px 0;
}

.person__title {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;

  @media screen and (min-width: 280px) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: 480px) {
    margin-bottom: 10px;
  }
}

.person__profession {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;

  @media screen and (min-width: 280px) {
    margin-bottom: 16px;
  }

  @media screen and (min-width: 480px) {
    margin-bottom: 16px;
  }
}

.person__soc-list {
  display: flex;
  justify-content: center;

  @media screen and (min-width: 280px) {
    padding-bottom: 0;
  }

  @media screen and (min-width: 480px) {
    padding-bottom: 0;
  }

  @media screen and (min-width: 768px) {
    padding-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 0;
  }
}

.person__soc-link {
  @include flex-align-justify;

  border: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-right: 10px;
  color: #afb1b8;

  transition: background-color var(--tran), color var(--tran);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
  }
}

.soc-icons {
  fill: currentColor;
}
