.customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers__title {
  @include font(36px, 700, 1.17, 0.03em);
  text-align: center;
  margin-bottom: 50px;
}

.customers__list {
  @include flex-align;
}

.customers__item:not(:last-child) {
  margin-right: 30px;
}

.customers__wrap {
  @include flex-align-justify;
  width: 170px;
  height: 92px;

  border: 1px solid currentColor;
  border-radius: 4px;

  color: #afb1b8;

  transition: color var(--tran);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.customers__icon {
  fill: currentColor;
}
